{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listagem dos produtos</title>
    <link rel="stylesheet" href="{% static 'products.css' %}" />
  </head>
  <body>
    <header>
      <h1>Loja Virtual</h1>
    </header>
    <main>
      <h2>Lista dos produtos:</h2>
      <nav>
        {% for product in products %}
        <a href="details/{{product.code}}">{{ product.name }}</a>
        {% endfor %}
      </nav>
    </main>
  </body>
</html>
